<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/chat.css" />
  </head>
  <body>
    <div class="container">
      <div class="myInfo">
        <p id="username">님</p>
      </div>
      <div class="chat-list">
        <div class="chat-count">
          <span id="chat-count">개설된 채팅방 </span>
        </div>
        <div class="chatRoom"></div>
      </div>
    </div>
    <div class="chat-wrap">
      <div class="chat-room">
        <div class="roomName">방 이름</div>
        <div class="chat-view" id="chat-view"></div>
        <div class="chat-send-box">
          <input
            class="send"
            type="text"
            id="message-input"
            placeholder="메시지를 입력하세요..."
          />
          <button class="send-btn" onclick="sendMessage()">전송</button>
        </div>
      </div>
    </div>
    <script src="/js/home.js"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>
