<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      .chat-room {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: none; /* 기존의 테두리 제거 */
        border-radius: 15px;
        background-color: #ffffff; /* 배경색 변경 */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
      }

      .chat-view {
        height: 500px;
        width: 500px;
        border-radius: 15px;
        overflow-y: auto;
        background-color: #e9ecef; /* 배경색 변경 */
        padding: 10px; /* 패딩 추가 */

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow-y: auto; /* 필요에 따라 스크롤 가능하게 */
      }

      .chat-send-box {
        height: 60px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .message {
        background-color: #71bf44;
        color: #ffffff;
        border-radius: 10px;
        padding: 8px 12px;
        margin-bottom: 6px;
        max-width: 70%;
        align-self: flex-end;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        display: inline-flex;
        word-wrap: break-word;
      }

      .send {
        height: 30px;
        width: 350px;
        border: 2px solid #adb5bd; /* 테두리 색 변경 */
        border-radius: 15px;
        font-size: 16px;
        margin-right: 20px;
        margin-left: 40px;
        padding: 0 10px; /* 패딩 추가 */
      }

      .send-btn {
        height: 34px; /* 높이 조정 */
        width: 80px;
        border: 2px solid #71bf44; /* 테두리 색 변경 */
        border-radius: 15px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        background-color: #69db7c; /* 배경색 변경 */
        color: #ffffff; /* 텍스트 색 변경 */
        cursor: pointer; /* 마우스 오버 시 커서 변경 */
      }

      .send-btn:hover {
        background-color: #57c96b; /* 마우스 오버 시 버튼 색 변경 */
      }
    </style>
  </head>
  <body>
    <div class="chat-room">
      <div class="chat-view" id="chat-view"></div>
      <div class="chat-send-box">
        <input class="send" type="text" id="message-input" />
        <button class="send-btn" onclick="sendMessage()">전송</button>
      </div>
    </div>

    <script src="/js/home.js"></script>
  </body>
</html>
