<div class="chat-container">
  <div class="chat-room">
    <div class="chat-view" id="chat-view"></div>
    <div class="chat-send-box">
      <input class="send" type="text" id="message-input" />
      <button class="send-btn" onclick="sendMessage()">전송</button>
    </div>
  </div>
</div>
