<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/chat.css" />
    <link rel="stylesheet" href="/css/deleteModal.css" />
  </head>
  <body>
    <div class="container">
      <div class="myInfo">
        <p id="username">님</p>
      </div>
      <div class="chat-list">
        <div class="chat-count">
          <span id="chat-count"> </span>
        </div>
        <div class="chatRoom"></div>
      </div>
    </div>
    <div class="chat-wrap">
      <div class="chat-room">
        <div id="roomName"></div>
        <div class="chat-view" id="chat-view"></div>
        <div class="chat-send-box">
          <input
            class="send"
            type="text"
            id="message-input"
            placeholder="메시지를 입력하세요..."
            autocomplete="off"
          />
          <button class="send-btn" onclick="sendMessage()">전송</button>
        </div>
      </div>
    </div>

    <div id="deleteChatRoomModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeDeleteChatRoomModal()">&times;</span>
        <h2>채팅방 삭제</h2>

        <button class="btn" type="submit" onclick="deleteChatRoom()">
          확인
        </button>
      </div>
    </div>

    <div id="makeGroupChatModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeMakeGroupChatModal()">&times;</span>
        <h2>단체 채팅방</h2>
        <div id="friendsListContainer">
          <!-- 이 부분에 친구 리스트가 표시됩니다. -->
        </div>
        <button class="btn" type="submit" onclick="createGroupChatRoom()">
          확인
        </button>
      </div>
    </div>

    <script src="/js/home.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/modal.js"></script>
  </body>
</html>
