<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/chat.css" />
  </head>
  <body>
    <div class="container"></div>
    <div class="chatt">
      <div class="chat-room">
        <div class="chat-view" id="chat-view"></div>
        <div class="chat-send-box">
          <input
            class="send"
            type="text"
            id="message-input"
            placeholder="메시지를 입력하세요..."
          />
          <button class="send-btn" onclick="sendMessage()">전송</button>
        </div>
      </div>
    </div>

    <script src="/js/home.js"></script>
    <script>
      // 메시지 보내기 함수
      function sendMessage() {
        var messageInput = document.getElementById("message-input");
        var message = messageInput.value.trim();

        if (message !== "") {
          var chatView = document.getElementById("chat-view");
          var messageElement = document.createElement("div");
          messageElement.classList.add("message");
          messageElement.textContent = message;
          chatView.appendChild(messageElement);
          chatView.scrollTop = chatView.scrollHeight;
          messageInput.value = "";
        }
      }
    </script>
  </body>
</html>
