<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>delete Friend Modal</title>
    <link rel="stylesheet" href="/css/deleteModal.css" />
  </head>
  <body>
    <!-- 삭제 버튼 클릭 시, 해당 친구의 ID를 전달하여 모달 열기 -->
    <button class="minus-btn" onclick="openDeleteModal('<%- friendId %>')">
      &#45;
    </button>
    <div id="myDeleteModal" class="deleteModal">
      <div class="deleteModal-content">
        <span class="modal-close" onclick="closeDeleteModal()">&times;</span>
        <h2>친구를 삭제하시겠습니까?</h2>
        <!-- friendId를 hidden input으로 전달 -->
        <form id="deleteFriendForm" action="/deleteFriend" method="post">
          <!-- friendId를 hidden input에 설정 -->
          <input
            type="hidden"
            id="friendIdInput"
            name="friend_id"
            value="<%- friendId %>"
          />
          <button class="submit-btn" type="submit">확인</button>
        </form>
      </div>
    </div>

    <script>
      var deleteModal = document.getElementById("myDeleteModal");
      var friendIdInput = document.getElementById("friendIdInput");

      // 삭제 모달 열기 함수에 friendId 전달받아 friendIdInput에 설정
      function openDeleteModal(friendId) {
        deleteModal.style.display = "block";
        friendIdInput.value = friendId; // friendId를 hidden input에 설정
        window.onclick = function (event) {
          if (event.target == deleteModal) {
            closeDeleteModal();
          }
        };
      }

      function closeDeleteModal() {
        deleteModal.style.display = "none";
      }
    </script>
  </body>
</html>
