<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Chat App</title>
    <%- include ("./modal.ejs")%> <%- include ("./deleteModal.ejs")%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="sidebar">
      <div class="top-icons">
        <img class="logo-img" src="/css/logo.png" alt="Logo Icon" />
        <img class="profile-img" src="/css/person.png" alt="Friend Icon" />
        <img class="chat-img" src="/css/chat.png" alt="Chat Icon" />
      </div>
      <div class="settings">
        <img class="setting-img" src="/css/option.png" alt="Settings Icon" />
        <form action="/logout" method="post">
          <button id="logout-btn">로그아웃</button>
        </form>
      </div>
    </div>
    <div class="container">
      <div id="myInfo" class="myInfo"></div>

      <div class="friend-list">
        <div class="friend-count"></div>

        <div class="friends">
          <div class="friend">
            <div class="friend-img"></div>
            <div class="friendName"></div>
          </div>
        </div>
      </div>
    </div>
    <img
      style="height: 300px; margin-top: 180px; margin-left: 250px"
      src="/css/회색로고.jpg"
    />
    <script>
      $(document).ready(function () {
        $.ajax({
          url: "/getUserInfo", // 서버의 친구 목록을 불러오는 라우트
          type: "GET", // HTTP 요청 방식
          success: function (data) {
            // 요청이 성공했을 때 실행될 콜백 함수
            displayInfo(data.name, data.friendList); // 친구 목록을 화면에 표시하는 함수
          },
          error: function (xhr, status, error) {
            // 요청이 실패했을 때 실행될 콜백 함수
            console.error("Error fetching friends:", error);
          },
        });
      });

      function displayInfo(name, friends) {
        const userName = $(".myInfo");
        userName.append(`<div id="myInfo" class="myInfo">${name}님 </div> `);

        // 화면에 친구 목록을 표시하는 로직
        const friendsContainer = $(".friends");

        friendsContainer.empty(); // 기존 목록을 비우고
        friends.forEach((friend) => {
          friendsContainer.append(
            `<div class="friend">${friend.name}<button class="minus-btn" onclick="openDeleteModal('${friend.friendId}')">&#45;</button></div>`
          ); // 새로운 목록을 추가
        });

        // 화면에 친구 목록을 표시하는 로직
        const friendCount = $(".friend-count");
        friendCount.empty(); // 기존 목록을 비우고
        friendCount.append(
          `<div id="friend-count">친구 ${friends.length} 명  <button class="plus-btn" onclick="openModal()">&plus;</button>
    `
        );
        friendCount.append(``);
      }
    </script>

    <script src="/js/home.js"></script>
  </body>
</html>
