<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/deleteModal.css" />
    <link rel="stylesheet" href="/css/dark-mode.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="sidebar">
      <div class="top-icons">
        <img class="logo-img" src="/img/logo.png" alt="Logo Icon" />
        <img
          class="profile-img"
          src="/img/person.png"
          alt="Friend Icon"
          onclick="MovePage('profile')"
        />
        <img
          class="chat-img"
          src="/img/chat.png"
          alt="Chat Icon"
          onclick="MovePage('chat')"
        />
      </div>
      <div class="settings">
        <img
          class="setting-img"
          src="/img/option.png"
          alt="Settings Icon"
          onclick="MovePage('setting')"
        />
        <form action="/logout" method="post">
          <button id="logout-btn">로그아웃</button>
        </form>
      </div>
    </div>
    <div class="switch"></div>

    <script src="/js/home.js"></script>
    <script src="/js/modal.js"></script>
    <script>
      $(document).ready(function () {
        MovePage("profile");
      });
    </script>
    <script src="/js/dark-mode.js"></script>
  </body>
</html>
