<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Friend Modal</title>
    <link rel="stylesheet" href="/css/modal.css" />
  </head>
  <body>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>친구 추가</h2>
        <form action="/addFriend" method="post">
          <input
            type="text"
            id="friend_id"
            name="friend_id"
            placeholder="학번을 입력해주세요."
            required
            autocomplete="off"
          />
          <button class="btn" type="submit">확인</button>
        </form>
      </div>
    </div>

    <script>
      var modal = document.getElementById("myModal");

      function openModal() {
        modal.style.display = "block";
        window.onclick = function (event) {
          if (event.target == modal) {
            closeModal();
          }
        };
      }

      function closeModal() {
        modal.style.display = "none";
      }
    </script>
  </body>
</html>
