<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Friend Modal</title>
    <style>
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
      }

      .modal-content {
        background-color: #ffffff;
        margin: 150px auto;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        max-width: 80%;
        height: 200px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
      }
      .plus-btn {
        background-color: white;
        border: none;
        margin-left: 300px;
        font-weight: bold;
      }

      #friend_id {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: calc(100% - 22px);
        margin-bottom: 20px;
      }

      .btn {
        background-color: #a7c0da;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
      }

      .btn:hover {
        background-color: #0056b3;
      }

      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .plus-btn:hover,
      .plus-btn:focus,
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      @keyframes modal-open {
        from {
          transform: translateY(-50%);
        }
        to {
          transform: translateY(0);
        }
      }

      .modal-content {
        /* 기존 스타일 유지 */
        animation: modal-open 0.5s ease forwards;
      }
    </style>
  </head>
  <body>
    <button class="plus-btn" onclick="openModal()">&plus;</button>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>친구 추가</h2>
        <form action="/addFriend" method="post">
          <input
            type="text"
            id="friend_id"
            name="friend_id"
            placeholder="학번을 입력해주세요."
            required
            autocomplete="off"
          />
          <button class="btn" type="submit">확인</button>
        </form>
      </div>
    </div>

    <script>
      var modal = document.getElementById("myModal");

      function openModal() {
        modal.style.display = "block";
      }

      function closeModal() {
        modal.style.display = "none";
      }

      window.onclick = function (event) {
        if (event.target == modal) {
          closeModal();
        }
      };
    </script>
  </body>
</html>
