<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/deleteModal.css" />
    <link rel="stylesheet" href="/css/setting.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script></head
  ><style></style>
  <body>
    <div class="container">
      <div class="myInfo">
        <p id="username">님</p>
      </div>
      <div class="setting">
        <p>다크 모드</p>
        <input class="dark-mode-toggle" role="switch" type="checkbox" />
      </div>
    </div>

    <div class="BL-Logo">
      <img src="/img/회색로고.jpg" />
    </div>

    <script src="/js/home.js"></script>

    <script src="/js/dark-mode.js"></script>
  </body>
</html>
