<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="form-container">
      <a href="/">
        <img
          src="/img/logo.png"
          alt="로고"
          height="50px"
          style="margin-top: 30px"
        />
      </a>
      <h2>회원가입</h2>
      <form id="signup-form">
        <div class="form-group">
          <input
            type="text"
            id="id"
            name="student_id"
            placeholder="학번을 입력하세요."
            required
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            id="username"
            name="username"
            placeholder="이름을 입력하세요."
            required
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="비밀번호를 입력하세요."
            required
          />
        </div>
        <button type="submit" class="submit-btn">회원가입</button>
      </form>
    </div>
    <div class="BL-Logo">
      <img src="/img/회색로고.jpg" />
    </div>
    <script>
      $(document).ready(function () {
        $("#signup-form").on("submit", function (event) {
          event.preventDefault();

          var formData = $(this).serialize();
          $.ajax({
            url: "/signup",
            type: "POST",
            data: formData,
            success: function (response) {
              alert("회원가입 성공");
              window.location.href = response.redirect;
            },
            error: function () {
              alert("아이디는 3글자 이상이고 20글자 미만이어야 합니다.");
            },
          });
        });
      });
    </script>
  </body>
</html>
