:root {
  --main-bg-color: white;
  --main-text-color: #333;
  --main-border-color: #888888;
  --main-hover-color: #c7c7c7;
  --main-sku-color: #71bf44;
}
body.dark-mode {
  --main-bg-color: #333;
  --main-text-color: white;
  --main-border-color: #777777;
  --main-hover-color: #c7c7c7;
}

#chat-count {
  height: 40px;

  font-size: 16px;
  border: 1px solid var(--main-border-color);

  border-right: none;
  border-left: none;
  text-align: left;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;
  font-size: 15px;
  font-weight: 600;
}

.chatRoom {
  width: 100%;
  height: 400px;
  overflow-y: auto;
}

.chat-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-room {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.chat-view {
  height: 500px;
  width: 100%;
  border-radius: 15px;
  overflow-y: auto;
  background-color: var(--main-bg-color);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}
.send-img-btn {
  font-size: 35px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: none;
  margin-right: 10px;
}
.chat-send-box {
  height: 60px;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.message {
  padding: 10px 15px;
  margin-bottom: 10px;
  max-width: 70%;
  word-wrap: break-word;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message.sent {
  background-color: var(--main-sku-color);
  color: var(--main-bg-color);
  align-self: flex-end;
  text-align: right;
}

.message.received {
  background-color: var(--main-bg-color);
  color: #000000;
  align-self: flex-start;
  text-align: left;
}

.sender-name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.message-time {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

.send {
  height: 40px;
  flex: 1;
  border: 1px solid var(--main-border-color);
  border-radius: 20px;
  font-size: 16px;
  padding: 0 15px;
  margin-right: 10px;
  outline: none;
}

.send-btn {
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #71bf44;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-btn:hover {
  background-color: #45a049;
}

.room {
  height: 70px;
  border-bottom: 1px solid var(--main-border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.room:hover {
  background-color: #f0f0f0;
}

.room p {
  width: 250px;
  height: 30px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 30px;
}

#roomName {
  font-size: 16px;
  font-weight: 600;
}
#friendsListContainer {
  max-height: 400px;
  overflow-y: auto;
}

.friend-checkbox {
  margin-right: 10px;
}
