:root {
  --main-bg-color: white;
  --main-text-color: #333;
  --main-border-color: #888888;
  --main-hover-color: #c7c7c7;
  --main-sku-color: #71bf44;
}
.deleteModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

h2 {
  font-size: 20px;
}

.deleteModal-content {
  background-color: var(--main-bg-color);
  margin: 150px auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  max-width: 80%;
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.delete-btn {
  background-color: var(--main-bg-color);
  border: none;
  font-size: 25px;
  margin-right: 10px;
}

.submit-btn {
  background-color: var(--main-sku-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 30px;
}

.submit-btn:hover {
  background-color: #619046;
}

.modal-close {
  color: var(--main-text-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.delete-btn:hover,
.delete-btn:focus,
.modal-close:hover,
.modal-close:focus {
  color: var(--main-text-color);
  text-decoration: none;
  cursor: pointer;
}

@keyframes modal-open {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

.deleteModal-content {
  animation: modal-open 0.5s ease forwards;
}
.room:hover .delete-btn {
  border-radius: 10px;
  background-color: #d9d8d8;
}
