body {
  color: #495057;
  display: flex;
  padding: 0;
  margin: 0;
}

.sidebar {
  width: 6vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #888888;
}

.top-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.logo-img {
  width: 55px;
  height: 35px;
  margin-bottom: 40px;
}
.profile-img,
.chat-img,
.setting-img {
  width: 35px;
  height: 35px;
  margin-bottom: 40px;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: 20px;
}

.profile-img:hover,
.chat-img:hover,
.setting-img:hover {
  background-color: #c7c7c7;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 0 10px #c7c7c7;
}
.settings button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
}

.settings button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.myInfo {
  padding: 15px;
  text-align: right;
  font-size: 15px;
  font-weight: 600;
}

.friend-count {
  height: 40px;

  font-size: 16px;
  border: 1px solid #888888;

  border-right: none;
  border-left: none;
  text-align: left;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  font-size: 15px;
  font-weight: 600;
}

.friends {
  width: 100%;
  height: 400px;
}

.friend {
  height: 70px;
  border-bottom: 1px solid #888888;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friend:hover {
  background-color: #f0f0f0;
}
.friend:hover .delete-btn {
  border-radius: 10px;
  background-color: #d9d8d8;
}
.friend-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friend-img {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  margin-left: 10px;
  border-radius: 50%;
}
.friendName {
  margin-left: 10px;
}
.friendName p {
  width: 60px;
  height: 30px;
  font-size: 16px;
  font-weight: 600;
}

.BL-Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.BL-Logo img {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.switch {
  display: flex;
  align-items: center;
  width: 94vw;
}

.container {
  height: 100vh;
  width: 25vw;
  border-right: 1px solid #888888;
}
